* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', serif;
    background-color: #ffffff;
    color: #ffbb00;
}

header {
    background-color: #ffbb00;
    padding: 35px;
    position: sticky;
    top: 0;
}

nav ul {
    display: flex;
    gap: 35px;
    justify-content: flex-end;
    list-style: none;
    font-size: 22px;
}

nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #00a2ff;
}

.logo img{
    width: 10px;
}